

<!--

{{users}}

<br>

<ul>
   <li>{{users[0]}}</li>
   <li>{{users[1]}}</li>
   <li>{{users[2]}}</li>
</ul>
<br>

<ul>
  usando *ngFor
  <li *ngFor='let user of users'>
      {{user}}
  </li>

</ul>

<br>

<ul>
    usando *ngIf
    <li *ngIf='activated'>
        activated
    </li>
  </ul>
   
  <br>

  <ul>
    usando *ngFor y usando el componente user
    <li *ngFor='let user of users'>
         <app-user [nameUser]="user"></app-user>
    </li>
  
  </ul>

  <br>
  <ul>
    Usando *ngFor y el componente user directamente
       <app-user  *ngFor='let user of users' [nameUser]="user"></app-user>
  </ul>
-->

  <br>
  <!--div>usando variables de diferentes tipos
      <p>name: {{name}}</p>
      <p>Street: {{address.street}}  </p>
      <p>City: {{address.city}}   </p>
       
      <ul>
           <li *ngFor="let hobby of hobbies" >
                {{hobby}}
           </li>
      </ul>
  </div-->


  <br>
<!--  Usando boton para elimiar usuario y decir hola, se aggrega formulario para agregar usuarios 
  
  <form (submit)="addUser(newUser)" >
    <input type="text" #newUser>
     <button>Send User</button>

  </form>
  <br>
  <ul>
        <li *ngFor="let user of usersbt" >{{user}}
           <button (click)="sayHello(user)" >Hello!!  </button>
           <button (click)="deleteUser(user)" >X  </button>
        </li>
  </ul>

   <br>

   <div>
     <form>
        <input type="text" name="name"  [(ngModel)]="namefr">
        <input type="text" name="age"   [(ngModel)]="agefr" >

     </form>

      name: {{ namefr }} <br>
      age:  {{ agefr }}
   </div>


<br>

Obtener datos json desde REST API

<div *ngFor="let post of posts">
      <h3>{{post.title}}</h3>
      <p> {{post.body}}</p>
</div>>
 
-->


<!--Usando RouterModule para mostrar varias pantallas-->

<ul>
   <li>
        <a routerLink="/" >Home</a>
   </li>
   <li>
         <a routerLink="/about" >About</a>
    </li>
</ul>

<router-outlet></router-outlet>

